.article-width {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto
}

.article-width.article-shopping-empty h1 {
  text-align: center
}

.article-banner {
  padding: 0;
  margin: 80px 0
}

.article-banner img,
.shoppingcart-box .shoppingcart-container .cart-left-box .lettering-box>div img {
  width: 100%
}

.go-shopping {
  font-size: 12px;
  margin: 14px 0
}

.shopping-title {
  margin: 14px 0 28px
}

.titles-lettering .red {
  color: red
}

.shoppingcart-box {
  padding-bottom: 20px
}

.shoppingcart-box .shoppingcart-container {
  position: relative
}

.shoppingcart-box .shoppingcart-container .cart-left-box {
  padding-right: 326px;
  float: left;
  margin-right: -326px;
  width: 100%
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shopcart-list-title {
  position: relative;
  padding: 17px 0 17px 206px;
  font-size: 14px;
  background: #000
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shopcart-list-title .form-checkbox {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -7px;
  cursor: pointer
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shopcart-list-title .shopcart-list-leftimg {
  position: absolute;
  left: 55px;
  width: 130px;
  text-align: center;
  cursor: pointer
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shopcart-list-title .shopcart-list-leftimg p {
  letter-spacing: 1.17px;
  font-size: 14px;
  color: #fff;
  margin: 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shopcart-list-right {
  width: 100%;
  padding-right: 0;
  color: #fff
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shopcart-list-right>div {
  float: left
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shopcart-list-right>div.shopcart-goods {
  width: 38%;
  text-align: left
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shopcart-list-right>div.shopcart-unit-price {
  width: 23%;
  text-align: center
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shopcart-list-right>div.shopcart-qty {
  width: 24%;
  text-align: center
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shopcart-list-right>div.shopcart-sum {
  width: 15%;
  text-align: center
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list {
  position: relative;
  padding: 40px 0 40px 206px;
  border-bottom: 1px solid #e8e8e8
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .form-checkbox {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right {
  min-height: 150px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-goods .shopcart-list-leftimg {
  position: absolute;
  left: 60px;
  top: 0;
  margin-top: 40px;
  width: 130px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-goods .shopcart-list-leftimg a {
  display: block;
  text-align: center;
  width: 100%;
  min-height: 128px;
  line-height: 128px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-goods .shopcart-list-leftimg a img {
  display: inline-block;
  vertical-align: middle
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-goods .shopcart-details a {
  display: inline-block;
  font-size: 14px;
  color: #111;
  margin-bottom: 11px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-goods .shopcart-details p {
  font-size: 14px;
  color: #111;
  line-height: 16px;
  margin-bottom: 15px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-goods .shopcart-details span {
  display: block;
  font-size: 14px;
  color: #999
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-goods .shopcart-details span span {
  margin-right: 10px;
  display: inline-block
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-goods .shopcart-details span .shopcart-details-block {
  margin-right: 10px;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  vertical-align: middle
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-unit-price {
  font-size: 14px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-unit-price p {
  color: #111;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 8px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .select .dropdown {
  width: 80px;
  height: 38px;
  margin: 0 auto;
  position: relative;
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .select .dropdown .btn {
  margin: 0 auto;
  min-width: 62px;
  width: 80px;
  height: 38px;
  line-height: 38px;
  min-height: 38px;
  border: 1px solid #212121;
  padding: 0 0 0 16px;
  border-radius: 0;
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .select .dropdown .btn .dropdown-text {
  color: #111;
  line-height: 38px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .select .dropdown .tinyscrollbar.sub-menu {
  z-index: 4
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .select .dropdown .sub-menu {
  padding: 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .select .dropdown .sub-menu .viewport .overview ul li a {
  padding: 12px 10px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .select .dropdown.is-disabled .btn {
  background: #f3f3f3;
  border: 1px solid #dcdcdc
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .select .dropdown.is-disabled .sub-menu {
  display: none !important
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .select .msg-block span {
  font-size: 14px;
  display: inline-block;
  width: 60px;
  text-align: center;
  color: #ff0004
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-sum {
  font-size: 14px;
  color: #111
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-compile {
  padding-top: 57px;
  position: relative;
  width: 100%
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-compile ul li {
  float: left;
  padding-right: 20px;
  position: relative
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-compile ul li a {
  font-size: 12px;
  color: #111;
  position: relative
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-compile ul li a:hover {
  text-decoration: none
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-compile ul li a::after {
  content: '';
  height: 1px;
  width: auto;
  background: #000;
  display: block
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-compile ul li .compile-content::before {
  content: '';
  width: 2px;
  height: 2px;
  background: #000;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -10px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-compile ul li:nth-child(2) {
  padding-right: 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-compile ul li:nth-child(3) {
  padding-left: 20px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-compile ul li .add-wish-list::before {
  content: '';
  width: 2px;
  height: 2px;
  background: #000;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -9px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-compile ul li .add-wish-list.is-add {
  cursor: default
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list .shopcart-list-right .shopcart-compile ul li .add-wish-list.is-add::after {
  display: none
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list.shopcart-outOfStock .shopcart-list-right .select .dropdown.is-disabled .btn {
  background: 0 0 !important
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list.shopcart-outOfStock .shopcart-list-right .select .dropdown.is-disabled .btn span {
  color: #999
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list.gift-style .shopcart-goods {
  width: 62%
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list.gift-style .sample-delete {
  font-size: 14px;
  color: #999;
  width: 95.5%;
  text-align: right;
  margin-top: 15px;
  cursor: pointer;
  position: relative
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list.gift-style .sample-delete i.icon-delete-style {
  width: 14px;
  height: 14px;
  position: absolute;
  display: inline-block;
  top: 2px;
  right: 33px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list.gift-style .sample-delete i.icon-delete-style::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: #999;
  width: 10px;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 2px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .cart-content .shopcart-list.gift-style .sample-delete i.icon-delete-style::after {
  content: "";
  display: inline-block;
  position: absolute;
  background: #999;
  width: 2px;
  height: 10px;
  left: 50%;
  margin-left: -1px;
  top: 2px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .lettering-box {
  padding: 5px 0 5px 38px;
  border-bottom: 1px #e8e8e8 solid
}

.shoppingcart-box .shoppingcart-container .cart-left-box .lettering-box>div {
  border: 1px solid #e8e8e8;
  width: 88px;
  height: 110px;
  padding: 5px;
  position: relative;
  display: inline-block;
  margin: 10px 16px 10px 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .lettering-box>div i {
  position: absolute;
  right: -12px;
  top: -12px
}

.shopping-empty-box .shoppingcart-empty ul>li a,
.shoppingcart-box .shoppingcart-container .cart-left-box .lettering-box p a {
  color: #000;
  text-decoration: underline
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box {
  padding: 40px 0 40px 20px;
  border-bottom: 1px #e8e8e8 solid
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content,
.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box {
  position: relative
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .titles {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  font-weight: 500
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content {
  padding-left: 148px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box .form-checkbox,
.small-samples-dialog .dialog-scroll-container .dialog .samples-content ul li .thumbnail .check-samples .form-checkbox {
  position: absolute;
  left: 0;
  top: 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .card-box .activity-cont>div .form-checkbox i,
.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box .form-checkbox i,
.small-samples-dialog .dialog-scroll-container .dialog .samples-content ul li .thumbnail .check-samples .form-checkbox i {
  vertical-align: middle
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box .use-cont {
  padding-left: 28px;
  display: inline-block
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box .use-cont p {
  margin-right: 10px;
  cursor: pointer
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box .use-cont p span {
  padding: 2px 12px;
  line-height: 18px;
  background: #d91650;
  color: #fff;
  font-size: 12px;
  height: 20px;
  display: inline-block;
  margin-left: 10px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box .use-cont p span:last-child {
  display: none
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box .use-cont.is-active p span {
  background: #e3e3e3;
  display: inline-block
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box .use-cont.is-active p span:first-child {
  display: none
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box .use-way {
  padding: 10px 0;
  position: relative;
  display: none
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box .use-way p {
  font-size: 12px;
  display: block;
  line-height: 20px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box .use-way p:nth-child(3) {
  color: #f52525;
  margin-bottom: 10px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .honey-box .use-way .usecoupon-check {
  position: absolute;
  right: 0;
  top: -17px;
  cursor: pointer
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content p {
  display: inline-block;
  margin: 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .promotion-box .activity-cont {
  margin-bottom: 26px;
  position: relative
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .card-box .activity-cont h6,
.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .promotion-box .activity-cont h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .promotion-box .activity-cont span {
  display: block;
  line-height: 18px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .promotion-box .activity-cont span.code-sale {
  margin: 7px 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .promotion-box .activity-cont span.code-sale span {
  display: inline-block
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .promotion-box .activity-cont .use-code {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .salescode-box {
  position: relative;
  width: 434px;
  float: right
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .salescode-box .form-input {
  padding-right: 126px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .salescode-box .form-input input {
  height: 35px;
  width: 305px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .salescode-box .form-input p {
  display: block;
  text-align: left;
  color: #999;
  margin: 10px 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .salescode-box .form-input p span {
  cursor: pointer
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .salescode-box a.btn {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 105px;
  height: 35px;
  line-height: 35px;
  background: #000;
  color: #fff;
  line-height: 25px;
  border-radius: 0;
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .salescode-box a.btn:hover {
  background-color: #d61b52;
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .card-box .activity-cont {
  position: relative
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .card-box .activity-cont span {
  color: #999;
  font-size: 12px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .card-box .activity-cont img {
  display: block;
  margin: 10px 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .card-box .activity-cont>div {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  color: #51b455
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .card-box .activity-cont>div .form-checkbox {
  margin-right: 3px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .orderprice-box {
  width: 256px;
  float: right
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .orderprice-box p {
  display: block;
  margin-bottom: 16px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content .users-content .orderprice-box p span,
.shoppingcart-box .shoppingcart-container .cart-left-box .total-box .price-all span,
.shoppingcart-box .shoppingcart-container .cart-right-box .cart-order-all .cart-price p span {
  display: inline-block;
  float: right
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content.gift-services-content .titles {
  position: static;
  display: inline-block;
  margin-bottom: 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content.gift-services-content .check-box {
  position: absolute;
  top: 0;
  right: 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content.gift-services-content .check-box .form-checkbox {
  vertical-align: middle;
  margin-right: 9px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content.gift-services-content .tips-text {
  font-size: 14px;
  color: #909090;
  padding-top: 16px;
  margin-bottom: 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content.gift-services-content .users-content {
  display: none;
  padding-left: 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content.gift-services-content .users-content .gift-services-box {
  padding-top: 19px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content.gift-services-content .users-content .gift-services-box .activity-cont p {
  display: block;
  font-size: 14px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content.gift-services-content .users-content .gift-services-box .activity-cont p.title {
  margin-bottom: 10px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content.gift-services-content .users-content .gift-services-box .activity-cont p.text {
  margin-bottom: 13px;
  color: #6b6b6b;
  letter-spacing: .7px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content.gift-services-content .users-content .gift-services-box .activity-cont .form-input input {
  height: 24px;
  font-size: 12px;
  padding: 6px 30px 6px 9px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .shoppingcart-use-box .shopping-use-content.gift-services-content .users-content .gift-services-box .activity-cont .form-input .btn {
  height: 24px;
  line-height: 24px;
  min-width: 100px;
  position: absolute;
  left: 445px;
  top: 0
}

.shoppingcart-box .shoppingcart-container .cart-left-box .total-box {
  padding: 40px 0 40px 20px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .total-box .price-all {
  width: 256px;
  float: right;
  font-weight: 700;
  margin-bottom: 16px;
  display: block
}

.shoppingcart-box .shoppingcart-container .cart-left-box .total-box .immediately-go {
  display: block;
  padding-top: 56px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .total-box .immediately-go .mob-goshopping {
  color: #000;
  line-height: 45px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .total-box .immediately-go a.btn {
  float: right;
  background: #000;
  color: #fff;
  line-height: 30px;
  border-radius: 0;
}

.shoppingcart-box .shoppingcart-container .cart-left-box .total-box .order-samples {
  padding: 0 0 28px
}

.shoppingcart-box .shoppingcart-container .cart-left-box .order-samples {
  font-size: 12px;
  color: #b4b4b5;
  text-align: right;
  padding: 20px 0 0
}

.shoppingcart-box .shoppingcart-container .cart-right-box {
  width: 296px;
  float: right
}

.shoppingcart-box .shoppingcart-container .cart-right-box .cart-order-all {
  border: 1px #e5e5e5 solid;
  padding: 28px 24px;
  text-align: center;
  margin-bottom: 15px
}

.shoppingcart-box .shoppingcart-container .cart-right-box .cart-order-all h3 {
  margin-bottom: 25px;
  font-size: 18px
}

.shoppingcart-box .shoppingcart-container .cart-right-box .cart-order-all a {
  background: #d61b52;
  color: #fff;
  height: 40px;
  line-height: 30px;
  width: 100%;
  border-radius: 0;
}

.shoppingcart-box .shoppingcart-container .cart-right-box .cart-order-all .cart-price {
  margin-top: 30px
}

.shoppingcart-box .shoppingcart-container .cart-right-box .cart-order-all .cart-price p {
  text-align: left;
  font-size: 14px
}

.shoppingcart-box .shoppingcart-container .cart-right-box .online-service {
  border: 1px #e5e5e5 solid;
  text-align: center;
  padding: 28px 24px
}

.shoppingcart-box .shoppingcart-container .cart-right-box .online-service h3 {
  font-size: 18px;
  margin-bottom: 20px
}

.shoppingcart-box .shoppingcart-container .cart-right-box .online-service p {
  margin-bottom: 3px
}

.shoppingcart-box .shoppingcart-container .cart-right-box .online-service a {
  margin-top: 20px;
  background: #000;
  color: #fff;
  line-height: 30px;
  border-radius: 0;
}

.shoppingcart-box .shoppingcart-container .cart-right-box .online-service a:hover {
  background-color: #d61b52;
}

* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  outline: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body,
html {
  height: auto;
  width: 100%;
  color: #363d4c;
  background-color: #fff;
  min-width: 320px;
  font-family: "Helvetica Neue", "寰蒋闆呴粦", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  overflow-x: hidden
}

.small,
small {
  font-size: 85%;
  color: #777
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  color: inherit
}

h1 {
  font-size: 36px
}

h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 65%
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 18px
}

h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%
}

body,
h5,
html {
  font-size: 14px
}

h6 {
  font-size: 12px
}

p {
  margin: 0 0 10px
}

a,
a:hover {
  text-decoration: none
}

a {
  cursor: pointer;
  color: #337ab7
}

a:hover {
  color: #23527c
}

hr,
img {
  border: 0
}

img {
  vertical-align: middle
}

hr {
  height: 0;
  border-top: 1px solid #ddd
}

.is-disabled,
.is-disabled input,
.is-disabled label,
button[disabled],
input[disabled],
textarea[disabled] {
  cursor: not-allowed !important
}

textarea {
  overflow: auto
}

.float-left {
  float: left !important
}

.float-right {
  float: right !important
}

.float-clearfix {
  clear: both !important
}

.float-clearfix:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.none {
  display: none !important;
  visibility: hidden
}

.block {
  display: block !important;
  visibility: visible;
  zoom: normal
}

.inline {
  display: inline !important
}



.fixed {
  position: fixed !important
}

.absolute {
  position: absolute !important
}

.relative {
  position: relative !important
}

.static {
  position: static !important
}

.overflow-hidden {
  overflow: hidden !important
}

.overflow-visible {
  overflow: visible !important
}

.overflow-auto {
  overflow: auto !important
}

@media screen and (max-width:1024px) {
  .float-left-sm {
    float: left !important
  }

  .float-right-sm {
    float: right !important
  }

  .float-clearfix-sm {
    clear: both !important
  }

  .float-clearfix-sm:after {
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden
  }

  .center-block-sm {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  .none-sm {
    display: none !important;
    visibility: hidden
  }

  .block-sm {
    display: block !important;
    visibility: visible;
    zoom: normal
  }

  .inline-sm {
    display: inline !important
  }

  .inline-block-sm {
    display: inline-block;
    *display: inline;
    zoom: 1
  }

  .fixed-sm {
    position: fixed !important
  }

  .absolute-sm {
    position: absolute !important
  }

  .relative-sm {
    position: relative !important
  }

  .static-sm {
    position: static !important
  }

  .overflow-hidden-sm {
    overflow: hidden !important
  }

  .overflow-visible-sm {
    overflow: visible !important
  }

  .overflow-auto-sm {
    overflow: auto !important
  }


}


.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none
}

.disable-hover {
  pointer-events: none
}

#wrapper,
body,
html {
  position: relative
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.footer,
.header {
  padding: 0 15px
}

.article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px
}

.blockquote,
blockquote {
  padding: 10px 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee
}

.blockquote .small,
.blockquote footer,
.blockquote p.footer,
.blockquote small,
blockquote .small,
blockquote footer,
blockquote p.footer,
blockquote small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
  width: auto
}

.blockquote.blockquote-reverse,
blockquote.blockquote-reverse {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #eee;
  border-left: 0
}

.icon {
  font-style: normal !important;
  font-weight: 400
}

.icon-caret-down,
.icon-caret-up,
.nav-pills li.is-open i.icon-caret,
.nav-tabs li.is-open i.icon-caret {
  border: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  width: 0;
  height: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-left: 3px
}

.icon-caret-down {
  border-top: 4px solid
}

.icon-caret-up,
.nav-pills li.is-open i.icon-caret,
.nav-tabs li.is-open i.icon-caret {
  border-bottom: 4px solid
}




button,
input[type=button],
input[type=submit] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.btn-group {
  font-size: 0
}

.btn-group .btn {
  margin-left: 10px
}

.btn-group .btn:first-child {
  margin-left: 0
}

.btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-weight: 400;
  padding: 5px 18px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  color: #363d4c;
  border-radius: 4px;
  line-height: 20px
}

.btn.is-hover,
.btn:hover {
  text-decoration: none;
  color: #363d4c;
  background-color: #eee
}

.btn.is-active,
.btn:active {
  text-decoration: none;
  background-color: #ccc
}

.btn.is-disabled,
.btn[disabled] {
  text-decoration: none;
  opacity: .5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50)
}

.btn,
.btn.is-disabled:active,
.btn.is-disabled:hover,
.btn[disabled]:active,
.btn[disabled]:hover {
  background-color: #fff
}


.sub-menu {
  position: absolute;
  top: 100%;
  display: none;
  z-index: 10;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 3px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.sub-menu li a {
  padding: 6px 18px;
  display: block
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

.table .caption,
.table caption,
div.table-wrap .caption,
div.table-wrap caption {
  color: #777;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: left;
  margin: 0
}

.table {
  max-width: 100%;
  width: 100%
}

.table>thead>tr>th {
  padding: 8px;
  line-height: 1.2
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td {
  padding: 8px;
  line-height: 1.2;
  vertical-align: top;
  border-top: 1px solid #ddd
}

.table>thead>tr>th {
  vertical-align: top;
  border-bottom: 2px solid #ddd;
  border-top: none
}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border: 1px solid #ddd
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border-bottom-width: 2px
}

.table.table-hover>tbody>tr:hover,
.table>tbody tr.is-active>td,
.table>tbody tr.is-active>th,
td.is-active,
th.is-active {
  background-color: #f5f5f5
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9
}

.table>tbody tr.is-success>td,
.table>tbody tr.is-success>th,
td.is-success,
th.is-success {
  background-color: #dff0d8
}

.table>tbody tr.is-info>td,
.table>tbody tr.is-info>th,
td.is-info,
th.is-info {
  background-color: #d9edf7
}

.table>tbody tr.is-warning>td,
.table>tbody tr.is-warning>th,
td.is-warning,
th.is-warning {
  background-color: #fcf8e3
}

.table>tbody tr.is-danger>td,
.table>tbody tr.is-danger>th,
td.is-danger,
th.is-danger {
  background-color: #f2dede
}

@media screen and (max-width:1024px) {
  .table-sm thead {
    display: none
  }

  .table-sm table,
  .table-sm tbody,
  .table-sm td,
  .table-sm th,
  .table-sm tr {
    display: block
  }

  .table-sm td,
  .table-sm th {
    position: relative;
    padding-left: 50% !important;
    text-align: left
  }

  .table-sm td:before,
  .table-sm th:before {
    content: attr(data-th-name);
    left: 6px;
    padding: 10px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 45%
  }

  .table-sm tbody tr:nth-child(odd) {
    background-color: #fff
  }

  .table-sm tbody tr:nth-child(even) {
    background-color: #f5f5f5
  }
}

@media screen and (max-width:767px) {
  .table-xs thead {
    display: none
  }

  .table-xs table,
  .table-xs tbody,
  .table-xs td,
  .table-xs th,
  .table-xs tr {
    display: block
  }

  .table-xs td,
  .table-xs th {
    position: relative;
    padding-left: 50% !important;
    text-align: left
  }

  .table-xs td:before,
  .table-xs th:before {
    content: attr(data-th-name);
    left: 6px;
    padding: 10px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 45%
  }

  .table-xs tbody tr:nth-child(odd) {
    background-color: #fff
  }

  .table-xs tbody tr:nth-child(even) {
    background-color: #f5f5f5
  }
}

button,
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: normal
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner {
  border: 0;
  padding: 0
}

input.form-input,
textarea.form-textarea {
  resize: none;
  width: 100%;
  height: auto;
  padding: 5px 10px;
  font-size: 14px;
  color: #363d4c;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s
}

input.form-input.is-focus,
input.form-input:focus,
input.is-focus,
input:focus,
textarea.form-textarea.is-focus,
textarea.form-textarea:focus,
textarea.is-focus,
textarea:focus {
  border-color: #66afe9
}

input.form-input.is-disabled,
input.form-input[disabled],
input.is-disabled,
input[disabled],
textarea.form-textarea.is-disabled,
textarea.form-textarea[disabled],
textarea.is-disabled,
textarea[disabled] {
  background-color: #eee
}

input,
textarea {
  font-family: "Helvetica Neue", "寰蒋闆呴粦", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  border: 0
}

.form-input input,
.form-input textarea,
.form-textarea input,
.form-textarea textarea {
  resize: none;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 14px;
  color: #363d4c;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s
}

.form-input input:focus,
.form-input textarea:focus,
.form-textarea input:focus,
.form-textarea textarea:focus {
  border-color: #66afe9
}

.form-input input[disabled],
.form-input textarea[disabled],
.form-textarea input[disabled],
.form-textarea textarea[disabled] {
  background-color: #eee
}

.form-input.is-focus input,
.form-input.is-focus textarea,
.form-textarea.is-focus input,
.form-textarea.is-focus textarea {
  border-color: #66afe9
}

.form-input.is-disabled input,
.form-input.is-disabled textarea,
.form-textarea.is-disabled input,
.form-textarea.is-disabled textarea {
  background-color: #eee
}

.form-checkall,
.form-checkbox,
.form-radio,
.form-removeall {
  display: inline-block;
  *display: inline;
  zoom: 1
}

div.form-checkall label,
div.form-checkbox label,
div.form-radio label,
div.form-removeall label,
label.form-checkall,
label.form-checkbox,
label.form-radio,
label.form-removeall {
  position: relative;
  min-height: 20px;
  padding-left: 18px;
  cursor: pointer;
  line-height: 20px
}

div.form-checkall label input,
div.form-checkbox label input,
div.form-radio label input,
div.form-removeall label input,
label.form-checkall input,
label.form-checkbox input,
label.form-radio input,
label.form-removeall input {
  position: absolute;
  left: 0;
  top: 4px;
  cursor: pointer
}

div.form-checkall.form-simulate label input,
div.form-checkbox.form-simulate label input,
div.form-radio.form-simulate label input,
div.form-removeall.form-simulate label input,
label.form-checkall.form-simulate input,
label.form-checkbox.form-simulate input,
label.form-radio.form-simulate input,
label.form-removeall.form-simulate input {
  opacity: 0;
  filter: alpha(opacity=0)
}

.form-checkbox-dami {
  cursor: pointer
}

.control-label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-bottom: 2px
}

.form-security>.content {
  float: left;
  width: 100%
}

.form-security>.content>div {
  margin-right: 90px
}

.form-security>.side {
  float: left;
  margin-left: -80px;
  width: 80px
}

.form-selects .dropdown,
.form-selects .form-select {
  width: 98%
}

.msg-block {
  display: block;
  color: #737373;
  margin-top: 2px
}

.is-success .control-label {
  color: #3c763d
}

.is-success .form-input input,
.is-success .form-input input:focus,
.is-success.form-input,
.is-success.form-input input,
.is-success.form-input input:focus,
.is-success.form-input:focus {
  border-color: #3c763d
}

.is-success .msg-block {
  color: #3c763d
}

.is-warning .control-label {
  color: #8a6d3b
}

.is-warning .form-input input,
.is-warning .form-input input:focus,
.is-warning.form-input,
.is-warning.form-input input,
.is-warning.form-input input:focus,
.is-warning.form-input:focus {
  border-color: #8a6d3b
}

.is-warning .msg-block {
  color: #8a6d3b
}

.is-error .control-label {
  color: #a94442
}

.is-error .form-input input,
.is-error .form-input input:focus,
.is-error.form-input,
.is-error.form-input input,
.is-error.form-input input:focus,
.is-error.form-input:focus {
  border-color: #a94442
}

.is-error .msg-block {
  color: #a94442
}

.placeholder {
  color: #adadaf !important
}

.placeholder-text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #adadaf;
  line-height: 1
}

select.dropdown,
select.form-select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 5px 10px;
  color: #363d4c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer
}

div.dropdown .btn,
div.form-select .btn {
  display: block;
  border-color: #ddd;
  padding: 5px 10px;
  cursor: default
}

div.dropdown .btn .fa,
div.form-select .btn .fa {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 10px
}

div.dropdown .btn:active,
div.dropdown .btn:hover,
div.form-select .btn:active,
div.form-select .btn:hover {
  background-color: #fff
}

div.dropdown.is-open i.icon-caret,
div.form-select.is-open i.icon-caret {
  border: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid;
  width: 0;
  height: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-left: 3px
}



div.dropdown select,
div.form-select select {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  cursor: pointer
}

.scroll-gallery.axis-y ul,
.scroll-gallery.scroll-gallery-res ul,
div.dropdown .sub-menu,
div.form-select .sub-menu {
  width: 100%
}

div.dropdown input,
div.form-select input {
  width: 100%;
  padding-right: 22px
}

div.dropdown .dropdown-text,
div.form-select .dropdown-text {
  display: block;
  padding-right: 14px;
  width: 100%;
  cursor: pointer
}

div.dropdown .dropdown-icon,
div.form-select .dropdown-icon {
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  cursor: pointer
}



.btn .icon-wrap,
.icon-caret i,
.is-open .icon-caret i {
  width: 8px;
  display: inline-block;
  *display: inline;
  zoom: 1
}

.icon-caret i,
.is-open .icon-caret i {
  border: 0;
  width: 0;
  height: 0;
  vertical-align: middle;
  margin-left: 3px
}

.icon-caret i {
  border-bottom: 4px solid transparent;
  position: absolute;
  top: 50%;
  border-top: 4px solid transparent;
  border-left: 4px solid;
  margin-top: -4px
}

.is-open .icon-caret i {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  margin-top: -2px
}

.btn-video {
  background-color: transparent;
  border: 0;
  padding: 0
}

.btn-color-white {
  background-color: #fff;
  color: #333
}

.btn-color-white:hover {
  background-color: #e6e6e6;
  color: #333
}

.btn-color-black {
  background-color: #000;
  color: #fff
}

.btn-color-black:hover {
  background-color: #333;
  color: #fff
}

@media screen and (max-width:767px) {
  .scroll-container-xs {
    position: relative
  }

  .scroll-container-xs .scroll-component-content {
    text-align: center
  }
}

.scroll-gallery,
.scroll-iscroll,
.scroll-iscroll-text,
.scroll-text {
  clear: both !important
}

.scroll-gallery:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden
}

.scroll-gallery ul {
  width: 10000%
}

.scroll-gallery ul li {
  width: 157px;
  display: block
}

.scroll-gallery ul li a {
  display: block;
  padding: 5px
}

.scroll-gallery>div {
  margin: 0 50px
}

.scroll-gallery .scroll-btn-next,
.scroll-gallery .scroll-btn-prev {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  margin-top: -20px
}

.scroll-gallery.scroll-gallery-res ul li {
  width: 25%
}

.scroll-gallery.axis-y {
  width: 157px;
  padding: 35px 0
}

.scroll-gallery.axis-y>div {
  margin: 0;
  height: 400px
}

.scroll-gallery.axis-y .scroll-btn-next,
.scroll-gallery.axis-y .scroll-btn-prev {
  height: auto;
  left: 0;
  margin: 0;
  width: 100%
}

.scroll-text>div {
  margin: 0 60px
}

.scroll-text .scroll-btn-next,
.scroll-text .scroll-btn-prev {
  margin: -20px 0 0;
  padding: 0
}

.scroll-iscroll-text:after,
.scroll-iscroll:after,
.scroll-text:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden
}

.scroll-iscroll .scroller-wrap>ul {
  overflow: hidden
}

.scroll-iscroll-text .scroller-wrap {
  max-height: 350px
}

.spice-black-opacity {
  background-color: #000;
  opacity: .68;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=68);
  filter: alpha(opacity=68);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  display: none
}


.pagination {
  margin-bottom: 10px;
  text-align: center;
  font-size: 0
}

.pagination .page-numbers {
  border-radius: 4px;
  color: #363d4c;
  margin: 0 2px;
  padding: 5px 15px;
  font-size: 14px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle
}

.pagination .page-numbers:hover {
  text-decoration: none
}

div.pagination .page-numbers .form-input {
  vertical-align: middle;
  width: 40px;
  padding: 2px;
  text-align: center
}

div.pagination .page-numbers .btn {
  padding: 2px 3px
}

.pagination .dots {
  background-color: transparent
}

.pagination .is-active {
  background-color: #363d4c;
  color: #fff
}

.pagination .all-numbers {
  background-color: transparent;
  color: #363d4c
}

.breadcrumb .divider {
  padding: 0 5px
}