<div class="footer-companion">
  <h1>兰蔻中国官方网站</h1>
  <ul>
    <li>
      <div class="info-img">
        <img src="./img/footer-1.png" alt="">
      </div>
      <div class="info-style">
        <div>
          <h3>正品保证</h3>
          <p>官方直供原装</p>
        </div>
      </div>
    </li>
    <li>
      <div class="info-img">
        <img src="./img/footer-2.png" alt="">
      </div>
      <div class="info-style">
        <div>
          <h3>顺丰包邮</h3>
          <p>港澳台偏远地区除外<br>亦可提供普通快递服务</p>
        </div>
      </div>
    </li>
    <li>
      <div class="info-img">
        <img src="./img/footer-3.png" alt="">
      </div>
      <div class="info-style">
        <div>
          <h3>精美礼盒</h3>
          <p>甄选精美礼盒包装<br>尊享官网购物体验</p>
        </div>
      </div>
    </li>
    <li>
      <div class="info-img">
        <img src="./img/footer-4.png" alt="">
      </div>
      <div class="info-style">
        <div>
          <h3>绑定公众号</h3>
          <p>首次绑定会员 即赠100积分<br>悦享每月1次柜台免费服务</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="footer-guide">
  <ul>
    <li>
      <h3>关于我们</h3>
      <div>
        <ul>
          <li><a href="#">加入兰蔻</a></li>
          <li><a href="#">会员中心</a></li>
        </ul>
      </div>
    </li>
    <li>
      <h3>联系我们</h3>
      <div>
        <ul>
          <li><a href="#">线上美容顾问</a></li>
          <li>
            <p>订购热线：4008208016</p>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">
        <h3>配送及退货</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <h3>专柜查询</h3>
      </a>
    </li>
    <li>
      <h3>关注我们</h3>
      <div>
        <ul>
          <li class="out-wechat">
            <a href="#"><i class="icon icon-footer-weixin"></i><span>官方微信</span></a>
            <div class="wechat">
              <img src="./img/footer-4.png" alt="">
            </div>
          </li>
          <li>
            <a href="#"><i class="icon icon-footer-weibo"></i><span>官方微博</span></a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="footer-select">
    <p>
      <i class="icon icon-mail"></i>
      <span>电子邮件</span>
    </p>
    <div class="form-input email">
      <input type="text" placeholder="* 输入您的邮箱" class="footer-bottom-input">
      <button class="e-footer-mail-btn">确定</button>
    </div>
  </div>
</div>
<div class="footer-container">
  <ul class="statement">
    <li><span>© L’Oreal China 欧莱雅（中国）有限公司版权所有</span></li>
    <li>
      <i class="icon icon-footer-zggs"></i>
      <a href="#"><span>中国工商</span></a>&nbsp;<a href="#"><span>沪ICP备08100043号-34</span></a>
    </li>
    <li>
      <i class="icon icon-footer-hgyab"></i>
      <a href="#"><span>沪公网安备 31010602001526号</span></a>
    </li>
  </ul>
  <div class="con-content">
    <ul>
      <li><a href="#">使用条款</a></li>
      <li><a href="#">Cookies政策</a></li>
      <li><a href="#">隐私政策</a></li>
    </ul>
    <p class="none-sm">浏览该网站表示您接受并同意我们使 用cookies为您提供个性化的浏览体验。点击<a href="#">Cookies政策</a>了解详情</p>
  </div>
</div>