<div class="header-con">
  <div class="header-logo clearfix">
    <div class="logo">
      <a href="#">
        <img src="./img/logo@2x.png" alt="" class="">
      </a>
    </div>
  </div>
  <div class="header-nav clearfix">
    <div class="nav-logo">
      <a href="#">
        <img src="./img/logo@2x.png" alt="">
      </a>
    </div>
    <div class="nav-wrap">
      <ul>
        <li><a href="#"><span>首页</span></a></li>
        <li class="sub-menu-btn">
          <a href="#"><span>护肤</span></a>
          <!-- 二级菜单 -->
          <div class="sub-menu sub-menu-2">
            <div class="nav-menu">
              <ul>
                <li>
                  <a href="#"><span>产品类型</span></a>
                  <div class="sub-menu-3">
                    <ul>
                      <li><a href="#"><span>卸妆&洁面</span></a></li>
                      <li><a href="#"><span>美容液&爽肤水</span></a></li>
                      <li><a href="#"><span>精华</span></a></li>
                      <li><a href="#"><span>眼部护理</span></a></li>
                      <li><a href="#"><span>乳液</span></a></li>
                      <li><a href="#"><span>面霜</span></a></li>
                      <li><a href="#"><span>面膜</span></a></li>
                      <li><a href="#"><span>防晒隔离</span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#"><span>产品系列</span></a>
                  <div class="sub-menu-3">
                    <ul>
                      <li><a href="#"><span>清滢清洁系列</span></a></li>
                      <li><a href="#"><span>小黑瓶系列</span></a></li>
                      <li><a href="#"><span>水分缘系列</span></a></li>
                      <li><a href="#"><span>臻白系列</span></a></li>
                      <li><a href="#"><span>轻透防晒系列</span></a></li>
                      <li><a href="#"><span>塑颜系列</span></a></li>
                      <li><a href="#"><span>菁纯系列</span></a></li>
                      <li><a href="#"><span>男士系列</span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#"><span>肌肤需求</span></a>
                  <div class="sub-menu-3">
                    <ul>
                      <li><a href="#"><span>卸妆清洁</span></a></li>
                      <li><a href="#"><span>舒缓保湿</span></a></li>
                      <li><a href="#"><span>精华修护</span></a></li>
                      <li><a href="#"><span>美白淡斑</span></a></li>
                      <li><a href="#"><span>紧致提拉</span></a></li>
                      <li><a href="#"><span>抗老愈颜</span></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="nav-banner">
              <div>
                <a href="#">
                  <img src="./img/15632601677493040.jpg" alt="">
                  <div>全新第二代小黑瓶精华</div>
                  <p> 一瓶重现细嫩好肤质 ></p>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="sub-menu-btn">
          <a href="#"><span>彩妆</span></a>
          <!-- 二级菜单 -->
          <div class="sub-menu sub-menu-2">
            <div class="nav-menu">
              <ul>
                <li>
                  <a href="#"><span>底妆</span></a>
                  <div class="sub-menu-3">
                    <ul>
                      <li><a href="#"><span>妆前乳</span></a></li>
                      <li><a href="#"><span>气垫霜</span></a></li>
                      <li><a href="#"><span>粉底</span></a></li>
                      <li><a href="#"><span>蜜粉&散粉</span></a></li>
                      <li><a href="#"><span>修容遮瑕</span></a></li>
                      <li><a href="#"><span>腮红</span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#"><span>唇妆</span></a>
                  <div class="sub-menu-3">
                    <ul>
                      <li><a href="#"><span>唇膏</span></a></li>
                      <li><a href="#"><span>唇釉</span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#"><span>眼妆</span></a>
                  <div class="sub-menu-3">
                    <ul>
                      <li><a href="#"><span>睫毛膏</span></a></li>
                      <li><a href="#"><span>眼影</span></a></li>
                      <li><a href="#"><span>眼线笔</span></a></li>
                      <li><a href="#"><span>眉部</span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#"><span>美妆&工具</span></a>
                  <div class="sub-menu-3">
                    <ul>
                      <li><a href="#"><span>粉底刷</span></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="nav-banner">
              <div>
                <a href="#">
                  <img src="./img/15616019720661105.jpg" alt="">
                  <div>菁纯唇膏#196</div>
                  <p>一抹显色 本色当红 ></p>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="sub-menu-btn">
          <a href="#"><span>香水</span></a>
          <!-- 二级菜单 -->
          <div class="sub-menu sub-menu-2">
            <div class="nav-menu">
              <ul>
                <li>
                  <a href="#"><span>女士香水</span></a>
                  <div class="sub-menu-3">
                    <ul>
                      <li><a href="#"><span>美丽人生系列</span></a></li>
                      <li><a href="#"><span>奇迹系列</span></a></li>
                      <li><a href="#"><span>珍爱系列</span></a></li>
                      <li><a href="#"><span>殿堂系列</span></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="nav-banner">
              <div>
                <a href="#">
                  <img src="./img/15616019877279539.jpg" alt="">
                  <div>美丽人生香水</div>
                  <p>美丽因你而生 ></p>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#"><span>小黑家族<span class="tag">HOT</span></span></a></li>
        <li><a href="#"><span>热荐底妆<span class="tag">HOT</span></span></a></li>
        <li class="sub-menu-btn">
          <a href="#"><span>畅销榜单</span></a>
          <div class="sub-menu sub-menu-img">
            <div class="aa">
              <img src="./img/15632688499538577.jpg" alt="">
              <a href="#" class="a_01"></a>
              <a href="#" class="a_02"></a>
              <a href="#" class="a_03"></a>
              <a href="#" class="a_04"></a>
              <a href="#" class="a_05"></a>
              <a href="#" class="a_06"></a>
              <a href="#" class="a_07"></a>
            </div>
          </div>
        </li>
        <li class="sub-menu-btn">
          <a href="#"><span>官网尊享</span></a>
          <div class="sub-menu sub-menu-img">
            <div class="aa">
              <img src="./img/1559786691928905.jpg" alt="">
            </div>
          </div>
        </li>
        <li><a href="#"><span>会员中心</span></a></li>
      </ul>
      <!-- <div class="nav-right">
        <ul>
          <li><a href="#"><i class="icon icon-header-white"></i></a></li>
          <li><a href="#"><i class="icon icon-header-cart"></i></a></li>
          <li><a href="#"><i class="icon icon-header-login"></i></a></li>
        </ul>
      </div> -->
    </div>
    <div class="nav-right">
      <ul>
        <li class="nav-search e-nav-search">
          <a href="#"><i class="icon icon-header-white"></i></a>
          <div class="search-menu">
            <div class="scroller-wrap">
              <div class="search-main">
                <div class="form-input">
                  <form id="header-search" action="/search" method="GET">
                    <input id="header-keyword" name="keyword" type="text" maxlength="" placeholder="第二代「小黑瓶」精华" />
                  </form>
                  <a><i class="icon icon-header-search-black" onclick="navigationSearch.search()"
                      onkeydown="navigationSearch.search()"></i></a>
                </div>
                <div class="search-item search-history">
                  <h4>
                    <span>历史搜索</span>
                    <a class="e-history-delete"><i class="icon icon-delete"
                        onclick="navigationSearch.deleteAll()"></i></a>
                  </h4>
                  <ul class="clearfix" id="search-history-ul">
                    <li><a href="#">兰蔻菁纯小姐唇膏</a></li>
                  </ul>
                </div>
                <div class="search-item search-browse search-view-history" style="display: none">
                  <h4>
                    <span>历史浏览</span>
                    <a class="e-browse-refresh"><i class="icon icon-refresh"
                        onclick="navigationSearch.setViewHistory()"></i></a>
                  </h4>
                  <ul class="clearfix" id="view-history-ul">

                  </ul>
                </div>
                <div class="search-item search-everyone search-common-history">
                  <h4><span>大家都在搜</span></h4>
                  <ul class="clearfix" id="common-history-ul">
                    <li><a href="#">小黑瓶</a></li>
                    <li><a href="#">持妆粉底液</a></li>
                    <li><a href="#">防晒</a></li>
                    <li><a href="#">保湿</a></li>
                    <li><a href="#">眼霜</a></li>
                  </ul>
                </div>
                <input type="hidden" id="image-base-url" value="https://res.lancome.com.cn/resources/">
                <input type="hidden" id="image-static-url" value="https://res.lancome.com.cn">
              </div>
            </div>
          </div>
        </li>
        <li class="header-shopping-bag e-header-shopping-bag is-empty">
          <a href="#">
            <i class="icon icon-header-cart"></i>
            <style id="style"></style>
          </a>

          <div class="sub-menu sub-menu-empty">
            <div class="left">
              <h3>
                您的购物袋 <br> 没有任何产品
              </h3>
              <a href="/allProducts">查看所有产品</a>
            </div>
            <div class="right">
              <h4>您可能还喜欢</h4>
              <div class="tinyscrollbar e-min-cart-empty-tinyscrollbar">
                <div class="viewport">
                  <div class="overview" style="top: 0px;">
                    <ul class="product-list">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="cart-menu sub-menu-full">
            <div class="mincart-title">
              <ul>
                <li>
                  您的购物袋（<span id="goods-num"></span>）
                </li>
                <li>数量</li>
                <li>价格</li>
              </ul>
            </div>
            <div class="mincart-content">
              <div class="viewport">
                <div class="overview">
                  <ul id="min-cart-list">
                    <!-- <li>
                      <div class="product-information">
                        <a href="#"><img src="../img/15564406468854082_100X100.jpg" alt=""></a>
                        <div class="product-information-wrap">
                          <p class="title"><a href="#">兰蔻菁纯小姐唇膏</a></p>
                          <p class="color">
                            <span style="width:20px;height:20px;background: #ea212a;"></span>
                            <span>#382 蜜桃洋红</span>
                          </p>
                        </div>
                      </div>
                      <div class="num">
                        <span>1</span>
                      </div>
                      <div class="price">
                        <span>¥270</span>
                      </div>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="mincart-total clearfix">
              <span>¥<i id="min-cart-total"></i></span>
              <span>总计</span>
            </div>
            <div class="mincart-btn">
              <a href="#" class="btn btn-black" id="header-buy">立即结算</a>
            </div>
          </div>
        </li>
        <li class="header-login e-header-login">
          <a href="#"><i class="icon icon-header-login"></i></a>
          <div class="login-dialog lancome-dialog">
            <div class="dialog">
              <div class="dialog-container">
                <p class="promotion">官网会员权益，购正装获积分，畅享明星兑礼。</p>
                <div class="login-register-container">
                  <div class="tab-container clearfix">
                    <ul class="tab-box e-tab-switch-hover">
                      <li class="is-active" id="hoverSmsLogin"><a>验证码登录</a></li>
                      <li id="hoverPasswordLogin"><a>密码登录</a></li>
                    </ul>
                    <div class="tab-cont">
                      <!-- 验证码登录 -->
                      <div class="tab-items reg-login">
                        <div class="form-group">
                          <div class="form-input">
                            <input type="text" maxlength="" placeholder="手机号" id="loginHoverMobile">
                            <!-- <i class="icon icon-input-success"></i> -->
                            <div class="msg-block">
                              <span>请输入有效的手机号</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group verification-code-group">
                          <div class="form-input">
                            <div class="input-box">
                              <input type="tel" maxlength="4" placeholder="输入验证码" id="loginHoverSmsCatpchcode" />
                              <!-- <i class="icon icon-input-success"></i> -->
                            </div>
                            <div class="btn-group clearfix">
                              <div class="code">
                                4567
                              </div>
                              <span class="e-change-sheet">
                                <span class="text">看不清？</span>
                                <a id="changeLoginHoverSmsCaptchaCode">换一张</a>
                              </span>
                            </div>
                            <div class="msg-block">
                              <span>请输入4位随机验证码</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group message-verification-group">
                          <div class="form-input">
                            <div>
                              <input type="tel" maxlength="6" placeholder="短信验证码" id="loginHoverSms">
                              <a class="btn btn-black verification-box e-verification" id="loginHoverSendSms"><i
                                  class="iconfont icon-icon_arrowright"></i><span>发送</span></a>
                            </div>
                            <div class="msg-block">
                              <i class="icon msg-icon"></i>
                              <span>请输入短信验证码</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- 密码码登录 -->
                      <div class="tab-items pwd-login" style="display: none">
                        <div class="form-group">
                          <div class="form-input">
                            <input type="text" maxlength="" placeholder="手机号/邮箱" id="loginHoverName">
                            <i class="icon icon-input-success"></i>
                            <div class="msg-block">
                              <span>请输入有效的邮箱或手机号码</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-input">
                            <input type="password" maxlength="" placeholder="请填写密码，至少8个字符" id="loginHoverPassword">
                            <i class="icon icon-input-success"></i>
                            <div class="msg-block">
                              <span>最小长度8位，包括大小写字母和数字（或符号）</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group verification-code-group none">
                          <div class="form-input">
                            <div class="input-box">
                              <input type="tel" maxlength="4" placeholder="输入验证码" id="hoverPasswordErrorCaptchCode" />
                              <i class="icon icon-input-success"></i>
                            </div>
                            <div class="btn-group clearfix">
                              <div class="code">
                              </div>
                              <span class="e-change-sheet"><span class="text">看不清？</span><a
                                  onclick="changeHoverErrorLoginCaptchCode()">换一张</a></span>
                            </div>
                            <div class="msg-block">
                              <span>请输入4位随机验证码</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="btn-box">
                        <a class="btn btn-black loginProject" id="loginHover">登录</a>
                      </div>
                      <!-- 第三方登录 -->
                      <div class="sign-in-with">
                        <span>使用第三方账号登录</span>
                        <ul class="icon-box icon-session-url">
                          <li><a href="/member/constructQQLoginURL?pageSign=PAGE_FROM_SIGN_LOGIN" class="login_qq"><i
                                class="icon icon-qq-new"></i></a></li>
                          <li class="none-sm"><a
                              href="/member/login/weChat/constructOAuthLoginURL?pageSign=PAGE_FROM_SIGN_LOGIN"
                              class="login_weChat"><i class="icon icon-weixin-new"></i></a></li>
                          <li><a href="/member/constructAlipayLoginURL?pageSign=PAGE_FROM_SIGN_LOGIN"
                              class="login_alipay"><i class="icon icon-zfb-new"></i></a></li>
                          <li><a href="/member/login/weibo/OAuthLoginURL?pageSign=PAGE_FROM_SIGN_LOGIN"
                              class="login_weibo"><i class="icon icon-weibo-new"></i></a></li>
                        </ul>
                      </div>
                      <div class="forget-password-group">
                        <a class="btn btn-black-border e-register">创建账户</a>
                        <a href="/member/forgetpassword/page?isNewMem=true" class="forget-password"
                          style="display: none">忘记密码？</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="is-logged-content">
            <p><a class="nickNameSub" href="/myaccount/myaccount">欢迎：</a>&nbsp;&nbsp;<a onclick="loginOut();">退出</a></p>
            <a href="#" class="icon-box"><i class="icon icon-header-logged"></i></a>
          </div> -->
          <!-- <div class="sub-menu">
            <div class="title">
              <p>欢迎 <span id="subNickName"></span></p>
            </div>
            <ul>
              <li>
                <a href="/myaccount/profile/show.htm">个人资料</a>
              </li>
              <li>
                <a href="/myaccount/addressList">收货地址</a>
              </li>
              <li>
                <a href="/myaccount/orderList">我的订单</a>
              </li>
              <li>
                <a href="https://club.lancome.com.cn/lancome-web/login/init" target="_blank">会员权益</a>
              </li>
              <li>
                <a href="/myaccount/favorite">我的收藏夹</a>
              </li>
            </ul>
            <div class="bottom">
              <a class="sign-out" onclick="loginOut();">登出</a>
            </div>
          </div> -->
        </li>
      </ul>
    </div>
  </div>
  <div id="register"></div>
</div>