<div class="goods-con-right">
  <div class="product-detail-container">
    <!--商品类型区别-->
    <div class="product-type-detail-box ">
      <!--商品下架或到货通知时加 has-special-view-->
      <!--唇膏-->
      <div class="product-lipstick">
        <!--选择颜色-->
        <div class="lipstick-color-box">
          <p class="product-prop-txt">选择颜色</p>
          <div class="lipstick-color-panal e-lipstick-color-panal">
            <div class="swiper-container lipstick-color-swiper">
              <ul class="swiper-wrapper">
                <li code="LAN00695-004" itemstyle="LAN00695" ipid="227962" colorValue="" iid="2542"
                  class="detail-swiper-slide is-active">
                  <div class="panal-box is-active">
                    <span style="background: #ec222c;" alt="LAN00695"></span>
                  </div>
                </li>
                <li code="LAN00695-001" itemstyle="LAN00695" ipid="227995" colorValue="" iid="2545"
                  class="detail-swiper-slide">
                  <div class="panal-box">
                    <span style="background: #9b141b;" alt="LAN00695"></span>
                  </div>
                </li>
                <li code="LAN00695-002" itemstyle="LAN00695" ipid="227984" colorValue="" iid="2544"
                  class="detail-swiper-slide">
                  <div class="panal-box">
                    <span style="background: #d20101;" alt="LAN00695"></span>
                  </div>
                </li>
                <li code="LAN00695-003" itemstyle="LAN00695" ipid="227973" colorValue="" iid="2543"
                  class="detail-swiper-slide">
                  <div class="panal-box">
                    <span style="background: #ea212a;" alt="LAN00695"></span>
                  </div>
                </li>
                <li code="LAN00695-006" itemstyle="LAN00695" ipid="227940" colorValue="" iid="2540"
                  class="detail-swiper-slide">
                  <div class="panal-box">
                    <span style="background: #812b42;" alt="LAN00695"></span>
                  </div>
                </li>
                <li code="LAN00695-007" itemstyle="LAN00695" ipid="227929" colorValue="" iid="2539"
                  class="detail-swiper-slide">
                  <div class="panal-box">
                    <span style="background: #9e002b;" alt="LAN00695"></span>
                  </div>
                </li>
                <li code="LAN00695-005" itemstyle="LAN00695" ipid="227951" colorValue="" iid="2541"
                  class="detail-swiper-slide">
                  <div class="panal-box">
                    <span style="background: #c80102;" alt="LAN00695"></span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="swiper-button-prev swiper-button-black none"></div>
            <div class="swiper-button-next swiper-button-black none"></div>
          </div>
        </div>
        <div class="select-box">
          <!--颜色-->
          <div class="dropdown custom-dropdown select-color-dropdown e-common-dropdown">
            <a class="btn">
              <span class="dropdown-text">
                <span class="dropdown-text-block" style="background: #ec222c;" alt="#168 元气胡萝卜"></span>
                <span class="get-propertyValue">#168 元气胡萝卜</span>
              </span>
              <span class="dropdown-icon"><i class="icon icon-caret"></i></span>
            </a>
            <div class="sub-menu tinyscrollbar e-changecolor">
              <div class="viewport">
                <div class="overview choose-color">
                  <ul>
                    <li code="LAN00695-004"><a> <span class="colorblock" style="background: #ec222c;"></span>
                        <span>#168 元气胡萝卜</span>
                      </a></li>
                    <li code="LAN00695-001"><a> <span class="colorblock" style="background: #9b141b;"></span>
                        <span>#525 人间小樱桃</span>
                      </a></li>
                    <li code="LAN00695-002"><a> <span class="colorblock" style="background: #d20101;"></span>
                        <span>#157 珊瑚色</span>
                      </a></li>
                    <li code="LAN00695-003"><a> <span class="colorblock" style="background: #ea212a;"></span>
                        <span>#382 蜜桃洋红</span>
                      </a></li>
                    <li code="LAN00695-006"><a> <span class="colorblock" style="background: #812b42;"></span>
                        <span>#398 梅子浆果</span>
                      </a></li>
                    <li code="LAN00695-007"><a> <span class="colorblock" style="background: #9e002b;"></span>
                        <span>#368 粉红玫瑰</span>
                      </a></li>
                    <li code="LAN00695-005"><a> <span class="colorblock" style="background: #c80102;"></span>
                        <span>#420 伊甸苹果</span>
                      </a></li>
                  </ul>
                </div>
              </div>
              <div class="scrollbar">
                <div class="track">
                  <div class="thumb">
                    <div class="end"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--数量-->
          <div class="dropdown custom-dropdown select-size-dropdown e-common-dropdown">
            <a class="btn">
              <span class="dropdown-text">1</span>
              <span class="dropdown-icon"><i class="icon icon-caret"></i></span>
            </a>
            <div class="sub-menu tinyscrollbar">
              <div class="viewport">
                <div class="overview">
                  <ul id="sizecount">
                    <li><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5</a></li>
                  </ul>
                </div>
              </div>
              <div class="scrollbar">
                <div class="track">
                  <div class="thumb">
                    <div class="end"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--购买-->
          <div class="lipstick-buy-box">
            <div class="panal-box clearfix">
              <div class="left-box">
                <span class="product-price">¥<span id="price">270</span></span>
              </div>
              <div class="right-box">
                <a class="btn btn-black btn-big-height addCart">加入购物袋</a>
                <a class="btn btn-black btn-big-height immediatelyBuy" id="detail-buy">立即购买</a>
                <!--到货通知-->
                <a class="btn btn-black btn-big-height qtvNotice none">到货通知</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--免费刻字-->
      <div class="free-lettering-box">
        <div class="panal-box">
          <p class="lettering-txt">
            <a class="form-checkbox"><i class="icon icon-checkbox"></i><span>免费刻字</span></a>
          </p>
          <p class="lettering-detail">全场购满520元且含本款商品，勾选后加入购物袋即享刻字服务。</p>
        </div>
      </div>
      <!--产品简介-->
      <div class="product-introduction-box none-sm">
        <p class="product-prop-txt">产品简介</p>
        <div style="color:red">* 因数量有限，同一个收货地址或者同一手机号码限购5件，敬请谅解。</div><br>一抹透润，亮出色；灵动明媚，把夏天涂在嘴上。
      </div>
      <!--产品收藏-->
      <div class="product-collection">
        <a class="add-collection"><i class="icon icon-like"></i><span>添加到我的收藏夹</span></a>
      </div>
      <!--产品ser图标-->
      <div class="product-ser-box">
        <ul>
          <li><img src="../img/activity-surprise.jpg" />
            <p>活动惊喜</p>
          </li>
          <li><img src="../img/free-of-charge.jpg" />
            <p>全场免运费</p>
          </li>
          <li><img src="../img/quality-assurance.jpg" />
            <p>正品保证</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>