<link rel="stylesheet" href="../css/register.css">
<div class="register-dialog-opacity register-lancome-dialog register-login-dialog register-e-login-dialog"
  id="spice-dialog-14" style="z-index: 10014; opacity: 1; display: none;">
  <div class="register-dialog">
    <div class="register-dialog-container">
      <p class="promotion">官网会员权益，购正装获积分，畅享明星兑礼。</p>
      <div class="login-register-container">
        <div class="register-tab-container clearfix">
          <div class="register-tab-cont" style="display: block;">
            <!-- 注册内容 -->
            <div class="register-container" style="display: block;">
              <div class="register-tab-continer">
                <!-- 邮箱注册 -->
                <div class="register-items maill-register-cont clearfix" style="display: none;">
                  <div class="register-form-group padd-right">
                    <label class="control-label none-sm">邮箱账号<span>*</span></label>
                    <div class="register-form-input">
                      <input type="text" maxlength="" placeholder="邮箱" id="registerEmail">
                      <div class="msg-block">
                        <span>请输入有效的邮箱</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group padd-left">
                    <label class="control-label none-sm">手机号<span>*</span></label>
                    <div class="register-form-input">
                      <input type="tel" maxlength="" placeholder="手机号" id="registerEmailmobileNum">

                      <div class="msg-block">
                        <span>请输入有效的手机号码</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group padd-right">
                    <label class="control-label none-sm">密码<span>*</span></label>
                    <div class="register-form-input">
                      <input type="password" maxlength="" placeholder="请填写密码，至少8个字符" id="registerEmailpassword">
                      <div class="msg-block">
                        <span>请输入您的密码</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group verification-code-group none-sm padd-left" "="">
                                      <label class=" control-label none-sm">验证码<span>*</span></label>
                    <div class="register-form-input">
                      <div class="input-box">
                        <input type="tel" maxlength="4" placeholder="输入验证码" id="registerEmailCatpchcode">

                      </div>
                      <div class="btn-group clearfix registerEmailCatpchcode">
                        <div class="code">1234</div>
                        <span class="e-change-sheet"><span class="text">看不清？</span><a
                            class="changeEmailRegisterCaptchaCode">换一张</a></span>
                      </div>
                      <div class="msg-block">
                        <span>验证码错误</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group none-sm padd-right">
                    <label class="control-label none-sm">确认密码<span>*</span></label>
                    <div class="register-form-input">
                      <input type="password" maxlength="" placeholder="请再次输入您的密码" id="registerEmailrepassword">
                      <div class="msg-block">
                        <span>两次密码不一致</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group message-verification-group padd-left">
                    <label class="control-label none-sm">短信验证码<span>*</span></label>
                    <div class="register-form-input">
                      <div>
                        <input type="tel" maxlength="6" placeholder="短信验证码" id="registerEmailsmsCode">
                        <a class="btn btn-black verification-box e-verification none-sm" id="sendEmailProSms"><i
                            class="iconfont icon-icon_arrowright"></i><span>发送</span></a>
                        <a class="btn btn-black verification-box e-verification none block-sm"
                          id="sendEmailProSmsMobile"><i
                            class="iconfont icon-icon_arrowright"></i><span>获取短信验证码</span></a>
                      </div>
                      <div class="msg-block">
                        <i class="icon msg-icon"></i>
                        <span>请输入短信验证码</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group remeberMe is-active" id="emailAgree">
                    <i class="icon icon-checkbox-gray-border e-checkbox"></i>
                    <span>我同意依照本<a target="_blank" href="http://policy.lorealchina.com/termsofusewebsite">使用条款</a>和<a
                        target="_blank"
                        href="http://policy.lorealchina.com/privacypolicy">隐私政策</a>对我的个人信息进行收集和使用；我已阅读并确认被给予充分机会理解该<a
                        target="_blank" href="http://policy.lorealchina.com/termsofusewebsite">使用条款</a>和<a
                        target="_blank" href="http://policy.lorealchina.com/privacypolicy">隐私政策</a>的内容。</span>
                    <div class="msg-block" style="display:none;">
                      <span>请阅读并接受个人收集证明</span>
                    </div>
                  </div>
                  <div class="btn-box">
                    <a class="btn btn-black e-register-btn registerProject" id="emailRegister">立即注册</a>
                  </div>
                  <div class="register-change">
                    <a class="e-phone-register">手机号注册&gt;</a>
                  </div>
                  <p class="none block-sm">*请妥善保管账户密码信息，勿随意泄露,手机号为识别及验证账户身份的唯一依据</p>
                </div>
                <!-- 手机号注册 -->
                <div class="register-items phone-register-cont clearfix" style="display: block;">
                  <div class="register-form-group padd-right">
                    <label class="control-label none-sm">手机号<span>*</span></label>
                    <div class="register-form-input">
                      <input type="tel" maxlength="" placeholder="手机号" id="registerMobile">

                      <div class="msg-block">
                        <span>请输入正确的手机号</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group verification-code-group none-sm padd-left">
                    <label class="control-label none-sm">验证码<span>*</span></label>
                    <div class="register-form-input">
                      <div class="input-box">
                        <input type="tel" maxlength="4" placeholder="输入验证码" id="registerpullcatpchaCode">

                      </div>
                      <div class="btn-group clearfix registerpullcatpchaCode">
                        <div class="code">2345</div>
                        <span class="e-change-sheet"><span class="text">看不清？</span><a
                            class="changeEmailRegisterCaptchaCode">换一张</a></span>
                      </div>
                      <div class="msg-block">
                        <span>验证码错误</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group padd-right">
                    <label class="control-label none-sm">密码<span>*</span></label>
                    <div class="register-form-input">
                      <input type="password" maxlength="" placeholder="请填写密码，至少8个字符" id="registerpassword">
                      <div class="msg-block">
                        <span>请输入您的密码</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group none block-sm">
                    <label class="control-label none-sm">确认密码<span>*</span></label>
                    <div class="register-form-input">
                      <input type="password" maxlength="" placeholder="请再次输入您的密码" id="registerMobileRepassword">
                      <div class="msg-block">
                        <span>两次密码不一致</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group verification-code-group none block-sm">
                    <label class="control-label none-sm">验证码<span>*</span></label>
                    <div class="register-form-input">
                      <div class="input-box">
                        <input type="tel" maxlength="4" placeholder="输入验证码" id="registerMobileCaptchCode">

                      </div>
                      <div class="btn-group clearfix registerMobileCaptchCode">
                        <div class="code">3456</div>
                        <span class="e-change-sheet">
                          <span class="text">看不清？</span>
                          <a class="changeEmailRegisterCaptchaCode">换一张</a>
                        </span>
                      </div>
                      <div class="msg-block">
                        <span>验证码错误</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group message-verification-group padd-left">
                    <label class="control-label none-sm">短信验证码<span>*</span></label>
                    <div class="register-form-input">
                      <div>
                        <input type="tel" maxlength="6" placeholder="短信验证码" id="registersmsCode">
                        <a class="btn btn-black verification-box e-verification none-sm" id="sendProSms"><i
                            class="iconfont icon-icon_arrowright"></i><span>发送</span></a>
                        <a class="btn btn-black verification-box e-verification none block-sm" id="sendMobileProSms"><i
                            class="iconfont icon-icon_arrowright"></i><span>获取短信验证码</span></a>
                      </div>
                      <div class="msg-block">
                        <i class="icon msg-icon"></i>
                        <span>请输入短信验证码</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group none-sm padd-right">
                    <label class="control-label none-sm">确认密码<span>*</span></label>
                    <div class="register-form-input">
                      <input type="password" maxlength="" placeholder="请再次输入您的密码" id="registerrepassword">
                      <div class="msg-block">
                        <span>两次密码不一致</span>
                      </div>
                    </div>
                  </div>
                  <div class="register-form-group remeberMe is-active" id="mobileAgree">
                    <i class="icon icon-checkbox-gray-border e-checkbox"></i>
                    <span>我同意依照本<a target="_blank" href="http://policy.lorealchina.com/termsofusewebsite">使用条款</a>和<a
                        target="_blank"
                        href="http://policy.lorealchina.com/privacypolicy">隐私政策</a>对我的个人信息进行收集和使用；我已阅读并确认被给予充分机会理解该<a
                        target="_blank" href="http://policy.lorealchina.com/termsofusewebsite">使用条款</a>和<a
                        target="_blank" href="http://policy.lorealchina.com/privacypolicy">隐私政策</a>的内容。</span>
                    <div class="msg-block" style="display:none;">
                      <span>请阅读并接受个人收集证明</span>
                    </div>
                  </div>
                  <div class="btn-box">
                    <a class="btn btn-black e-register-btn registerProject" id="mobileRegister">立即注册</a>
                  </div>
                  <div class="register-change">
                    <a class="e-maill-register">邮箱注册&gt;</a>
                  </div>
                  <p class="none block-sm">*请妥善保管账户密码信息，勿随意泄露,手机号为识别及验证账户身份的唯一依据</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <i class="icon icon-close-white-14 dialog-close">×</i>
    </div>
  </div>
</div>